.header{
    text-align: center;
    margin-top: 40px;
    color: #333;
}

.title{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}

.img{
    max-width: 80px;
}

img{
    width: 100%;
}

.header h1{
    font-size: 3rem;
}

.header h3{
    color: #F87171;
}

@media (max-width: 710px) {
    .title{
        flex-direction: column;
    }
    .img{
        max-width: 200px;
        /* display: none; */
    }
 }